In [2]:
import pandas as pd
import numpy as np

In [3]:
# Creating a dataframe from Pandas series 
# Pass the columns in a list

countries_code = { "United States": 1,
                 "India": 91,
                 "Germany": 49,
                 "China": 86,
                 "Rwanda":250}

In [4]:
print(countries_code)

{'United States': 1, 'India': 91, 'Germany': 49, 'China': 86, 'Rwanda': 250}

In [5]:
type(countries_code)

dict

In [6]:
pd_series = pd.Series (countries_code)

In [7]:
type(pd_series)

pandas.core.series.Series

In [8]:
df = pd.DataFrame(pd_series, columns = ['Codes'])
df

               Codes
United States      1
India             91
Germany           49
China             86
Rwanda           250

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
print(df)

               Codes
United States      1
India             91
Germany           49
China             86
Rwanda           250