### Iteration

```
df.items() #Iterate over (column name, Series) pairs.
df.iteritems() Iterate over (column name, Series) pairs.
DataFrame.iterrows() Iterate over DataFrame rows as (index, Series) pairs.
DataFrame.itertuples([index, name]) Iterate over DataFrame rows as namedtuples.
```

In [1]:
import pandas as pd
import numpy as np

In [3]:
np_array = np.array([[95, 64, 75], [98, 100, 72], [93, 87, 80]])

In [11]:
column_names = ['Math', 'CS', 'Eng']

In [17]:
index_names = ['MJ', 'SP', 'DR']

In [18]:
df = pd.DataFrame(np_array, 
                 columns = column_names, 
                 index = index_names)

In [19]:
df

    Math   CS  Eng
MJ    95   64   75
SP    98  100   72
DR    93   87   80

In [20]:
df.isin([100, 98, 80])

     Math     CS    Eng
MJ  False  False  False
SP   True   True  False
DR  False  False   True

In [21]:
df[df > 80]

    Math     CS  Eng
MJ    95    NaN  NaN
SP    98  100.0  NaN
DR    93   87.0  NaN

In [22]:
df.index

Index(['MJ', 'SP', 'DR'], dtype='object')

In [36]:
# Iterate over (column name, Series) pairs.

for col_name, content in df.items():
    print(f"Subject is: {col_name}\nScore   is:\n{content}\n")

Subject is: Math
Score   is:
MJ    95
SP    98
DR    93
Name: Math, dtype: int32

Subject is: CS
Score   is:
MJ     64
SP    100
DR     87
Name: CS, dtype: int32

Subject is: Eng
Score   is:
MJ    75
SP    72
DR    80
Name: Eng, dtype: int32

In [37]:
# Iterate over (column name, Series) pairs.
# Same as df.items()
for col_name, content in df.iteritems():
    print(col_name)
    print(content)

Math
MJ    95
SP    98
DR    93
Name: Math, dtype: int32
CS
MJ     64
SP    100
DR     87
Name: CS, dtype: int32
Eng
MJ    75
SP    72
DR    80
Name: Eng, dtype: int32

In [41]:
# Iterate over DataFrame rows as (index, Series) pairs

for row in df.iterrows():
    print(row)

('MJ', Math    95
CS      64
Eng     75
Name: MJ, dtype: int32)
('SP', Math     98
CS      100
Eng      72
Name: SP, dtype: int32)
('DR', Math    93
CS      87
Eng     80
Name: DR, dtype: int32)

In [42]:
# Iterate over DataFrame rows as namedtuples

for row in df.itertuples():
    print(row)

Pandas(Index='MJ', Math=95, CS=64, Eng=75)
Pandas(Index='SP', Math=98, CS=100, Eng=72)
Pandas(Index='DR', Math=93, CS=87, Eng=80)