#### Creating DataFrames

DataFrames are the most used Pandas data structure. It can be created from a dictionary, 2D array, and Series.

In [6]:
import pandas as pd
import numpy as np

In [1]:
# Creating DataFrame from a dictionary

countries = {'Name': ['USA', 'India', 'German', 'Rwanda'], 
             
             'Codes':[1, 91, 49, 250] }

In [2]:
print(countries)

{'Name': ['USA', 'India', 'German', 'Rwanda'], 'Codes': [1, 91, 49, 250]}

In [4]:
pd.DataFrame(countries)

     Name  Codes
0     USA      1
1   India     91
2  German     49
3  Rwanda    250