In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creating a dataframe from Pandas series 
# Pass the columns in a list

countries_code = { "United States": 1,
                 "India": 91,
                 "Germany": 49,
                 "China": 86,
                 "Rwanda":250}

pd_series = pd.Series (countries_code)

df = pd.DataFrame(pd_series, columns = ['Codes'])
df

               Codes
United States      1
India             91
Germany           49
China             86
Rwanda           250

In [9]:
# Adding a column
# Number in population are pretty random

df ['Population'] = [100, 450, 575, 5885, 533]

df

               Codes  Population
United States      1         100
India             91         450
Germany           49         575
China             86        5885
Rwanda           250         533

In [11]:
# Removing a column 

df.drop('Population', axis =1)

               Codes
United States      1
India             91
Germany           49
China             86
Rwanda           250

In [12]:
df.columns

Index(['Codes', 'Population'], dtype='object')

In [13]:
df.keys

<bound method NDFrame.keys of                Codes  Population
United States      1         100
India             91         450
Germany           49         575
China             86        5885
Rwanda           250         533>

In [14]:
df.index

Index(['United States', 'India', 'Germany', 'China', 'Rwanda'], dtype='object')