### E. Aggregation Methods

In [3]:
import pandas as pd
import numpy as np

In [4]:
df4 = pd.DataFrame({'Product Name':['Shirt','Boot','Bag'], 
              'Order Number':[45,56,64], 
              'Total Quantity':[10,5,9]}, 
              columns = ['Product Name', 'Order Number', 'Total Quantity'])

In [5]:
df4

  Product Name  Order Number  Total Quantity
0        Shirt            45              10
1         Boot            56               5
2          Bag            64               9

In [7]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product Name    3 non-null      object
 1   Order Number    3 non-null      int64
 2   Total Quantity  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

In [8]:
df4.columns

Index(['Product Name', 'Order Number', 'Total Quantity'], dtype='object')

In [9]:
df4.head(1)

  Product Name  Order Number  Total Quantity
0        Shirt            45              10

In [11]:
df4.shape

(3, 3)

In [12]:
type(df4.shape)

tuple

In [14]:
df4['Product Name']

0    Shirt
1     Boot
2      Bag
Name: Product Name, dtype: object

In [15]:
df4['Order Number']

0    45
1    56
2    64
Name: Order Number, dtype: int64

In [16]:
df4['Total Quantity']

0    10
1     5
2     9
Name: Total Quantity, dtype: int64

In [17]:
df4.describe()

       Order Number  Total Quantity
count      3.000000        3.000000
mean      55.000000        8.000000
std        9.539392        2.645751
min       45.000000        5.000000
25%       50.500000        7.000000
50%       56.000000        9.000000
75%       60.000000        9.500000
max       64.000000       10.000000

In [18]:

df4.describe().transpose()

                count  mean       std   min   25%   50%   75%   max
Order Number      3.0  55.0  9.539392  45.0  50.5  56.0  60.0  64.0
Total Quantity    3.0   8.0  2.645751   5.0   7.0   9.0   9.5  10.0

In [19]:
df4

  Product Name  Order Number  Total Quantity
0        Shirt            45              10
1         Boot            56               5
2          Bag            64               9

In [20]:
# Mode of the dataframe
# Mode is the most recurring values
df4['Total Quantity'].mode()

0     5
1     9
2    10
dtype: int64

In [ ]:
# Mode of the dataframe
# Mode is the most recurring values

df4['Total Quantity'].mode()

In [21]:
# The maximum value
df4['Total Quantity'].max()

10

In [22]:
# The minimum value

df4['Total Quantity'].min()

5

In [24]:
# The mean

df4['Total Quantity'].mean()

8.0

In [25]:
# The median value in a dataframe

df4['Total Quantity'].median()

9.0

In [26]:
df4

  Product Name  Order Number  Total Quantity
0        Shirt            45              10
1         Boot            56               5
2          Bag            64               9

In [27]:
# Standard deviation

df4['Total Quantity'].std()

2.6457513110645907

In [33]:
import math
math.sqrt(((10-8)**2 + (8-5)**2 + (9-8)**2)/(3-1))

2.6457513110645907

In [34]:
# Variance 

df4['Total Quantity'].var()

7.0

In [35]:
# Sum of all values in a column

df4['Total Quantity'].sum()

24

In [36]:
# Product of all values in dataframe

df4['Total Quantity'].prod()

450